<div class="footer">
  <div class="line"></div>
  <div class="f-b">
    <p>深圳鼎晖融资租赁有限公司 &nbspwww.dinghuifl.com &nbsp;电话：010-59856788</p>
    <p>地址：北京市朝阳区朝阳公园路19号佳隆国际大厦A座15F <a href="http://www.miibeian.gov.cn/" target="_blank" style='color: grey'>粤ICP备15060961号</a></p>
  </div>
</div>
