<div class="footer">
  <div class="line"></div>
  <div class="f-b">
    <p>Copyright© 深圳鼎晖融资租赁 有限公司.ALL Rights Reserved. Powered By www.dinghuifl.com</p>
    <p>电话：010-59856788</p>
    <p>地址：北京市朝阳区朝阳公园路19号佳隆国际大厦A座15F</p>
  </div>
</div>