<div class="path">
  您现在的位置:首页>企业动态
</div>

<div class="fenlei">
  <div class="title-back"><h3>企业动态</h3></div>
  <div class="fenlei-liebiao">
    <li <% if current_page?("/sub/news?category=2") %>class="active"<% end %>>
      <a href="/sub/news?category=2">行业资讯</a>
    </li>
    <li <% if current_page?("/sub/news?category=1") %>class="active"<% end %>>
      <a href="/sub/news?category=1">公司新闻</a>
    </li>
  </div>
  <div style="padding-top: 25px;"></div>
  <div class="title-back"><h3>联系方式</h3></div>
  <div class="left-about-us">
    <p>鼎晖融资租赁公司</p>
    <p>电话: 010-59856788</p>
    <p>网址: www.dinghuifl.com</p>
    <p>地址: 北京市朝阳区朝阳公园路</p>
    <p>19号佳隆国际大厦A座15F</p>
  </div>
</div>
