<div class="top clearfix">
  <div class="top-inner">
    <div class="logo left"></div>
    <div class="right">
      <dl>
        <dt>
          <a >加入收藏 |</a>
          <a >设为首页</a>
        </dt>
        <dd>
          <a >HOME|</a>
          <a >CHINESE|</a>
          <a >ENGLISH</a>
        </dd>
      </dl>
    </div>
  </div>
</div>