<div class="top clearfix">
  <div class="top-inner">
    <div class="logo left"></div>
    <div class="right" style="padding-top: 20px;">
      <dl>
        <dt>
          <a onClick="shoucang(document.title, window.location)">加入收藏 |</a>
          <a onclick="SetHome(this, window.location);">设为首页</a>
        </dt>
<!--         <dd>
          <a >HOME|</a>
          <a >CHINESE|</a>
          <a >ENGLISH</a>
        </dd> -->
      </dl>
    </div>
  </div>
</div>